.jumbotron {
	text-align: center;
}

.col {
	outline-style: solid;
}

.row {
	margin-top: 20px;
}
#cuisineResultsForCity {
	height:100px;
  overflow-y: scroll;
}

.cuisineResult, .cuisineList, .restaurantList {
	list-style:none;
}

#mapOfRestaurants {
        height: 400px;
        width: 100%;
       }
