.jumbotron {
	text-align: center;
}

.col {
	outline-style: none;
}

.row {
	margin-top: 20px;
}
#cuisineResultsForCity {
	height:300px;
	width:80%;
  overflow-y: scroll;
  border:2px;
}

.cuisineResult, .cuisineList, .restaurantList {
	list-style:none;
}

#mapOfRestaurants {
	text-align:center;
        height: 400px;
        width: 100%;
        border:2px;
       }
#restaurantImage {
	width:auto;
	height:auto;
}

#resultsArea{
	text-align:center;
}

#restaurantList {
	height:300px;
	overflow-y:scroll;
	border:2px;
}
/*#resultsSection {
	display:none;
}*/

.dropdown-menu {
  border:none; 
}

.cuisines{
 width: 70%;
}
.dropdown-toggle { 
	border:none;  
    overflow: hidden;
    padding-right: 24px /* Optional for caret */;
    text-align: left;
    text-overflow: ellipsis;    
    width: 70%;
}